* {
	margin: 0;
}

body {
	background: url(../img/back.jpg);
	font-family: sans-serif;
}

.content {
	width: 1024px;
	margin: 0 auto;
}

.content > h1 {
	text-align: center;
	margin: 40px 0 20px;
}

.content > p {
	text-align: justify;
	margin: 20px 0;
}

.content > img {
	width: 300px;
}

.content #img1 {
	float: right;
	margin: 0 0 0 10px;
}

.content #img2 {
	float: left;
	margin: 0 10px 0 0;
}

footer {
	height: 60px;
	width: 100%;
	background: #333333;
	text-align: center;
}

footer > .footer {
	padding: 11.7px 0;
}

footer > img {
	padding: 0 20px;
}

footer  .img {
	display: inline-block;
	padding: 0 5px;
}
