body {
	background: url(../img/nochnoy-gorod-009.jpg) no-repeat;
	position: relative;
	display: inline-block;
	background-size: 100%;
}

.animation {
	width: 100%;
  height: 100%;
}
  
.superman {
	position: absolute;
	top: 55px;
	left: 200px;
	animation-name: fly;
	animation: fly 1s ease ;
	animation-fill-mode: forwards;
}

.super_man {
	position: absolute;
	top: 222px;
	left: 100px;
	animation-name: www;
	animation: www 5s linear ;
	transition: ease-in-out;
	transition-delay: .10s;
	}


/*Keyframes*/

@keyframes fly {
	from {
		transform: translateX(400px);
	}
	to {
		transform: translateY(-500px);
	}
}

@keyframes www {
	
	from {
		transform: translateY(-800px);
		
	}
	to {
		transform: translateX(0px);
	}
}

