body {
	background: url(../images/back.jpg);
	margin: 0;
}

header {
	background: grey;
	color: white;
	font-size: 15px;
	font-family: sans-serif;
	height: 70px}

header div {
	padding: 25px;
	height: 20px;
}

header div:hover {	
background: lightgreen;
color: grey;
cursor: pointer;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: grey;
}

.button1 {
	margin-left: 200px;
	float: left;
}

.button2 {
	float: left;
	}

.button4 {
	float: right;
	margin-right: 200px;
}

h1, h2 {
	text-align: center;
}

.gallery {
	width: 1024px;
	margin: 0 auto;
	}

.gallery:after {
	content: '.';
	display: block;
	clear: bouth;
}

	.img-block {
		width: 250px;
		height: 290px;
		outline: 1px solid grey;
		background: #ccc;
		text-align: center;
		float: left;
		margin:3px;
	}

	.img-block img {
		width: 100%;
	}

	
	.img-block .text {
		text-align: center;
		padding: 10px 0;

	}

	.img-block:hover {
			background: white;
		}
  .img-block:hover img {
			opacity:0.7;
		}

.textblock {
width: 1024px;
margin: 0 auto;
text-align: justify;
}

.text-imag1 {
	width: 250px;
	float: right;
	padding: 0px 10px 0px 10px;
}

.text-imag2 {
	width: 250px;
	float: left;
	padding: 5px 10px 10px 0px;
}

footer {
	background: grey;
	padding: 10px 0px;
	text-align: center;}