body {
  background: url(metro.jpg) ;
   background-size: 100%;
  }

 h2{
 	text-align: center;
 	color :#DCDCDC;
 	font-family: fantasy;
 	font-size: 150px;
 	text-shadow: 10px 10px 10px black;
 }

 .nav {
 	float: left;
 	list-style: none;
 	font-size: 20px;
 	width: 100%;
 	padding: 10px;
 	background-color: #C0C0C0;
    border-bottom: 2px solid #FFF8DC;
    border-top: 2px solid #FFF8DC;

 }

.nav li {
	float: left;
	display: block;
    padding: 8px 20px;
    font-weight: bold;
    margin : 0 0px 0px 150px;

}
.nav a{
   	color :#2F4F4F;
   	text-decoration: none;
   	text-shadow: 0px 0.5px 1px #696969;
}

.nav li a:hover {
      color: #c00;
      background-color: #fff;
      padding: 19px;
      text-decoration: none;
  }

.look {
	text-align: center;
}

.mini {
	margin: 0 0px 0px 550px;
}


