
body {
	background: url(images/background-image.jpeg);
	background-repeat: no-repeat;
    background-size: 100%; /* Современные браузеры */
 }

/*шапка*/
.header{
	height: 100px;
	text-align: center;
	font-family: 'Lobster', cursive;
}	

/*левый блок */
.lefttb{
	width: 30%; /*ширина блока*/
	min-height: 150px; /*минимальная высота блока*/
	float: left; /*Выравнивает элемент по левому краю, а все остальные элементы, вроде текста, обтекают его по правой стороне.*/
}

/*правый блок */
.righttb{
	width: 70%; /*ширина блока*/
	min-height: 150px; /*минимальная высота блока*/
	margin-left: 30%; /*отступ слева*/
	font-family: 'Play', sans-serif;
}

/*подвал*/
.footer{
	clear: left; /*Устанавливает, с какой стороны элемента запрещено его обтекание другими элементами*/
	min-height: 50px; /*минимальная высота блока*/
	text-align: center;
}

a.decoration { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    color: #A52A2A;
    margin-left: 15px;
    font-family: 'Lobster', cursive;
   } 

 a.contacts{
 	text-decoration: none; /* Отменяем подчеркивание у ссылки */
    color: #A52A2A;
    font-family: 'Play', sans-serif;
 }

 p.contacts{
 	font-family: 'Play', sans-serif;
 }