@font-face{
   font-family: Nexa-Bold;
   src:url('../fonts/Nexa Bold.oft');
   }
@font-face{
   font-family: Nexa-Light;
   src:url('../fonts/Nexa Light.oft');
    }
body{
    background:#ebebeb;
    margin:0;
    }
.clearfix:after{
    content:'';
    display:block;
    clear:both;
    }
.header-logo{
    height:66px;
    background:#373737;
    }
.header_logo_content{
    width:942px;
    margin:0 auto;
    }
.header-logo_image{
    float:left;
    }
.header-logo_text{
    color:white;
    line-height:65px;
    font-family:Nexa Bold;
    }
/*Navigation (top-menu)*/
.header-nav{
    height:65px;
    background:#474747;
    }
.header-nav_content{
    width:942px;
    margin:0 auto;
    }
.nav{
    list-style-type:none;
    margin:0;
    padding:0;
    font-family: arial;
    }
.nav__item{
    float:left;
    padding:25px 0;
    }
.nav__link-wrapper{
    display:block;
    padding:0 25px;
    border-right: 1px solid #767676;
    }
.nav__item:last-child .nav__link-wrapper{
    border-right:none;
    }
.nav__link{
    font-size:12px;
    text-decoration:none;
    color:#ffffff;
    position:relative;
    } 
.nav__link:hover:after,
.nav__link_active:after{
    content:'';
    display:block;
    height:4px;
    background:#f26c4f;
    position:absolute;
    left:0;
    right:0;
    bottom:-24px;
}
/*Домашнее задание*/
.searh{
      width:942px;
      height:70px;
      margin:0 auto;
      }
.dz{
     width:942px;
     height:70px;
     margin:0 auto;
      }
 
 .forms{
     float:left;
      }
 .tx{
     height:46px;
     width:300px;
     border-right-width: 0px;
     border-top-width: 0px;
     border-left-width: 0px;
     border-bottom-width: 0px;
     color:#959595;
     background-image: url("../Images/clock.png");   
     background-repeat: no-repeat; /*Убираем повтор изображения*/   
     background-position: 290px; /*Позиционируем*/   
     outline: none; /*убираем стандартную обводку браузера*/   
     padding-left: 20px; /*отступ слева от ввода, чтобы текст не был на картинке(выбирать по размеру картинки)*/  
     height: 46px; /*высота строки ввода*/   
     font-size: 13px; /*размер шрифта*/
     }
 .menu_2{
     height:40px;
     }
.tv{
	 list-style-image:url("../Images/tw.png");
	 float:left;
     padding-left: 0px;
     margin-left: 275px;
     padding-top: 18px;
     }
.fb{
	list-style-image:url("../Images/fc.png");
	float:left;
	padding-left: 0px;
    margin-left: 50px;
	padding-top: 18px;
	}
.rss{
	list-style-image:url("../Images/rss.png");
	float:left;
	padding-left: 0px;
    margin-left: 50px;
	padding-top: 18px;
	}
.mail{
	list-style-image:url("../Images/ml.png");
	float:left;
	padding-left: 0px;
    margin-left: 50px;
	padding-top: 18px;
	}
a{
    text-decoration:none;
    color:#8f8f8f;
    font-family:Nexa-Light;
    font-size:12px;
}
    a:hover{
    color:#ffffff;
}

