body{
   background:url("../images/qwerty.jpg");
   background-attachment: fixed;
   margin:0;
    }
.cont{
   height:60px;
   background:#232323;
     }
.da{
   width:1024px;
   height:60px;
   font-family:San Serif;
   font-size:15px;
   color:#ffffff;
   position: absolute;
   margin-left:12%;
   margin-right:12%;
   padding-top:20px;
   }
a{
   color:#d2d2d2;
   text-decoration:none;
   padding-top: 50px;
   padding-bottom: 22px;
   border-right-width: 10px;
   border-left-width: 10px;
   padding-right: 10px;
   padding-left:10px;
   }   
a:hover{
   color: #0099ff;
   background:#434242;
   }
.target{
   background:green;
   height:60px;
   margin-left:710px;
   }
.osnova{
   margin-top:50px;
   margin:0 auto;
   width:1024px;
   height:280px;
   border:0px red solid;
   }
.img_1,.img_2,.img_3,.img_4{
   height:280px;
   background:#d7d7d7;
   border:1px solid #535353;
   float:left;
   margin-left:3px;
   }
.text_image{
   text-align:bottom;
   margin-top:255px;
   text-align:center;
   padding-bottom:5px;
   font-family: Arial Narrow;
   color:#5f5f5f;
   }
  .img_1{
   background:url('../Images/img1.jpeg');
   background-size:250px;
   background-repeat:no-repeat;
   width:250px;

   }
.img_2{
   background:url('../Images/img2.jpeg');
   background-size:250px;
   background-repeat:no-repeat;
   width:250px;
   }
.img_3{
   background:url('../Images/img3.jpeg');
   background-size:250px;
   background-repeat:no-repeat;
   width:250px;
   }
.img_4{
   background:url('../Images/img4.jpeg');
   background-size:250px;
   background-repeat:no-repeat;
   width:250px;
   }
.img_1:hover{
   color:red;
   opacity: 0.5;
   }
.img_2:hover{
   opacity: 0.5;
   }
.img_3:hover{
   opacity: 0.5;
   }
.img_4:hover{
   opacity: 0.5;
   }
.part_1,.part_2,.part_3,.part_4{
  float:left;
  }
h1{
   text-align:center;
   font-family:Arial Narrow;
  }
.content{
   width:1024px;
   margin:0 auto;
   text-align:justify;
   font-family:Arial Narrow;
   font-size:14px;
  }
.long {
   float: right; /* Выравнивание по правому краю  */ 
   margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
   }
.ton{
   float:left;
   margin: 0px 7px 0px 0px;
	}
.footer{
   margin-top:0px;
   width:100%;
   background:#000000;
   height:50px;
   }
.footer_menu{
   width:150px;
   margin:0 auto;
  }
.fb,.inst,.tv{
   float:left;
   padding-top: 8px;
   padding-left: 10px;
   border-radius:100%
   height:30px;
   width:30px;
  }
.storm{
   padding-left:0px;
   padding-right:0px;
  }


