/*Автор Евгений Мозговой*/
body{
    font-family: "Courier New", Courier, monospace;
    font-size: 16pt;
    background-color:#FAD919;
}

h3{
    color: red;
    margin-left: 220px;
    margin-top:50px;
}
#zxc{
    margin-left: 50%;
    margin-right: 50%;
}
p{
    width: 900px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
}
table{
    background#957A0F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin-left:auto;
    margin-right:auto;
    border-style: dotted;
    border-color:#0006C2;
}
#storm
{
    margin-top: 70px;
}
#integer{           /*Logotype*/
margin-left:auto;
margin-right: auto;
display:block;
margin-top:80px;
    }
.container{
margin-left:auto;
margin-right: auto;
display:block;
width:300px;
height: 100px;
color: #20CC25;
}
#erors{
color:red;
font-size:30pt;
margin-left:50px;
margin-right: auto;
margin-top:80px;
}
#man{
margin-left:100px;
margin-top:30px;
}
#sed{
color:#0609B7;
font-size:35pt;
     }
.reg{
       color:#930670;

     }

/*Для проекта Альянс*/