body {
    background: #ebebeb;
    margin: 0;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

@font-face {
    font-family: Nexa-Bold;
    src: url('../fonts/Nexa Bold.otf');
}

@font-face {
    font-family: Nexa-Light;
    src: url('../fonts/Nexa Light.otf');
}

/*Header*/

.header-logo {
    height: 65px;
    background: #373737;
}

.header-logo__content {
    width: 924px;
    margin: 0 auto;
}

.header-logo__text {
    color: white;
    line-height: 66px;
    margin-left: 5px;
    font-family: Nexa-Light;
}

.header-logo__image {
    float: left;
}

/*Navigation (top menu)*/

.header-nav {
    height: 65px;
    background: #474747;
}

.header-nav__content {
    width: 934px;
    margin: 0 auto;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: arial;
}

.nav__item {
    float: left;
    padding: 25px 0;
}

.nav__link-wrapper {
    display: block;
    padding: 0 25px;
    border-right: 1px solid #767676;
}
/*Вместо '.class' внизу подставить нужный класс*/

.nav__item:last-child .nav__link-wrapper {
    /*Убрать рамку*/
    border-right: none;
}

.nav__link {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    position: relative;
}

/*При наведении*/
.nav__link:hover:after,
    /*Всегда для активной ссылки*/
.nav__link:hover:after {
    content: '';
    display: block;
    height: 4px;
    background: #f26c4f;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -23px;
}

.main-content {
    width: 942px;
    margin: 0 auto;
}

/* Search and community */

.content-block {
    margin-top: 15px;
}

.search-block {
    float: left;
    height: 45px;
}

.search_input,
.search_input:focus {
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    padding: 15px 40px 15px 20px;
    background-image: url("../images/icons/clock.png");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    outline: none;
    color: #818181;
    font-size: 12px;
    font-family: Arial;
}

.community-block {
    margin-top: 15px;
    float: right;
    width: 300px;
}

.community-item {
    background-image: url("../images/icons/link-logo.png");
    background-repeat: no-repeat;
    padding: 3px 0 1px 20px;
    text-decoration: none;
    color: #818181;
    font-size: 12px;
    font-family: Arial;
    margin-left: 24px;
}

.community-twlogo {
    background-position: 0 4px;
}

.community-fblogo {
    background-position: 0 -17px;
}

.community-rsslogo {
    background-position: 0 -39px;
}

.community-mllogo {
    background-position: 0 -58px;
}

.community-item:first-child {
    margin-left: 0;
}
