body {
	margin: 0;
	width: 100%;
}

.container {
	margin: 0 auto;
	width: 1200px;
}

/* Sky */

.sky {
	height: 300px;
	background: #A9D1E1;
	overflow: hidden;
}

.sky__thundercloud {
	margin: 20px;
	height: 200px;
	animation: thundercloud infinite linear 15s reverse;
}

@keyframes thundercloud {
	0% {
		margin-left: -300px;
	}

	100% {
		margin-left: 2500px;
	}
}

/* Grass */

.grass {
	height: 300px;
	background: #3E7A4B;
}

.grass__flower {
	margin: 60px 15px;
	opacity: 0;
}

.grass__flower1 {
	animation: flowers 5s linear;
	animation-delay: 20s;
	animation-fill-mode: forwards;
}

.grass__flower2 {
	animation: flowers 5s linear;
	animation-delay: 15s;
	animation-fill-mode: forwards;
}

.grass__flower3 {
	animation: flowers 5s linear;
	animation-delay: 10s;
	animation-fill-mode: forwards;
}

.grass__flower4 {
	animation: flowers 5s linear;
	animation-delay: 5s;
	animation-fill-mode: forwards;
}

.grass__flower5 {
	animation: flowers 5s linear;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

@keyframes flowers {
	0% {
		transform: scale(0);
		opacity: 1;
	}


	100% {
		transform: scale(1);
		opacity: 1;
	}
}

/* Road */

.road {
	height: 300px;
	background: #5E5E5E;
	border-top: 10px solid #737373;
	position: relative;
	overflow: hidden;
}

.road__top-line {
	height: 150px;
	border-bottom: 7px dashed white;
}

.road__moto1, .road__moto2 {
	position: absolute;
	height: 125px;
}

.road__moto1 {
	animation: moto 5s linear infinite;
}

.road__moto2 {
	bottom: 40px;
	animation: moto 7s linear infinite;
}

@keyframes moto {
	0% {
		margin-left: -300px;
	}

	100% {
		margin-left: 3000px;
	}
}
