@import url('normilize.css');
.wrapper {
  width: 73.125%;
  max-width: 1170px;
  margin: 0 auto;
}
body {
  background: #f7f7f7;
  font-family: 'Roboto', sans-serif;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.header {
  background: #e5e5e5;
  padding-top: 20px 0;
}
.header__wrapper {
  width: 73.125%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 40px 0;
}
.header__logo {
  margin: 0;
  float: left;
  letter-spacing: -2px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  color: #4e4e4e;
}
.top-nav {
  float: right;
}
.top-nav__links {
  margin-top: 12px;
}
.top-nav__link {
  display: inline-block;
  margin-left: 20px;
  color: #4e4e4e;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}
.top-nav__link:hover {
  color: #1abb9c;
}
.top-nav__link_active {
  color: #1abb9c;
}
.top-nav__burger {
  display: none;
}
.banner {
  position: relative;
  width: 100%;
  max-height: 600px;
  overflow: hidden;
}
.banner__img {
  width: 100%;
}
.banner__line {
  position: absolute;
  font-weight: bold;
}
.banner__line1 {
  color: #fff;
  font-size: 2.5vw;
  top: 30%;
  width: 60%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.banner__line2 {
  color: #a8a8a8;
  font-size: 1.8vw;
  top: 46%;
  width: 42%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.banner__button {
  display: block;
  position: absolute;
  width: 150px;
  background: #3f8dbf;
  color: #fff;
  padding: 9px 0;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 4px solid #3678a3;
  border-radius: 3px;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 0.93em;
  font-weight: 100;
  top: 60%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.banner__button:active {
  background: #3678a3;
}
.content__accomplishments {
  margin-top: 60px;
}
.circle {
  float: left;
  width: 23%;
  padding: 1%;
  text-align: center;
  line-height: 1.8em;
  font-size: 0.875em;
  color: #616161;
}
.circle__header {
  color: #4e4e4e;
}
.circle__img {
  transition: transform 0.6s ease-out;
}
.circle:hover .circle__img {
  transform: rotateY(180deg) scale(1.3);
}
.content__header {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.125em;
  color: #4e4e4e;
}
.content__latest-works {
  margin-top: 60px;
  padding-top: 60px;
  border-top: 2px solid #dcdcdc;
}
.work {
  float: left;
  width: 32%;
}
.work_margin {
  margin: 0 2%;
}
.work__img-container {
  max-height: 250px;
  overflow: hidden;
}
.work__img {
  display: block;
  width: 100%;
  transition: transform 0.6s ease-out;
  max-height: 250px;
}
.work:hover .work__img {
  transform: scale(1.3);
}
.work__header {
  font-weight: bold;
  font-size: 1.125em;
  color: #4e4e4e;
  margin-bottom: 10px;
}
.work__tags {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 0.813em;
  color: #a8a8a8;
}
.work__desc {
  color: #5c5c5c;
  font-size: 0.875em;
  line-height: 1.8em;
}
.quote {
  margin-top: 30px;
  width: 60%;
  padding: 100px 20% 50px;
  background: #efefef url('../images/quote.png') no-repeat center 55px;
  color: #a1a1a1;
  font-size: 1.25em;
  line-height: 1.5em;
  text-align: center;
}
.footer {
  background: #1d1d1d;
  color: #cacaca;
}
.footer__wrapper {
  width: 73.125%;
  max-width: 1170px;
  margin: 0 auto;
}
.footer__cols {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 2px solid #353535;
}
.footer__col {
  float: left;
  width: 23%;
  padding: 0 1%;
}
.footer__copyright {
  color: #cacaca;
  padding: 50px 0;
  font-size: 0.875em;
  line-height: 1.5em;
}
.col {
  background: #1d1d1d;
}
.col__header {
  margin-bottom: 20px;
  font-size: 1.125em;
  text-transform: uppercase;
  color: #6c6c6c;
}
.col__text {
  font-size: 0.875em;
  font-weight: normal;
  line-height: 1.8em;
  margin: 0;
}
.col__text_margin {
  margin-bottom: 30px;
}
.col__text_icon {
  padding-left: 22px;
}
.col__text_icon_twitter {
  background: url('../images/twitter.png') no-repeat left 5px;
}
.col__text_icon_address {
  background: url('../images/address.png') no-repeat left 5px;
}
.col__text_icon_phone {
  background: url('../images/phone.png') no-repeat left 5px;
}
.col__text_icon_mail {
  background: url('../images/mail.png') no-repeat left 9px;
}
.col__icon {
  height: 100%;
}
.col__date {
  display: block;
  font-size: 0.9em;
}
@media screen and (max-width: 1024px) {
  .circle {
    width: 40%;
    padding: 0 5%;
    margin: 20px 0;
  }
  .footer__col {
    width: 40%;
    padding: 0 5%;
  }
  .quote {
    width: 80%;
    padding: 100px 10% 50px;
  }
  .top-nav {
    float: none;
    text-align: center;
  }
  .top-nav__link {
    margin-left: 0;
    width: 16%;
  }
  .header__logo {
    float: none;
    margin-bottom: 15px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .content__header {
    text-align: center;
  }
  .work {
    width: 60%;
    margin: 30px 20%;
  }
  .footer__col {
    width: 80%;
    padding: 0 10%;
  }
  .top-nav {
    background: #555;
  }
  .top-nav__link {
    float: none;
    width: 100%;
    padding: 10px;
    color: #999;
  }
  .top-nav__links {
    height: 0;
    overflow: hidden;
  }
  .top-nav .top-nav__burger:focus ~ .top-nav__links {
    height: 100%;
  }
  .header__wrapper {
    width: 100%;
    padding-bottom: 0;
    text-align: center;
  }
  .top-nav__burger {
    height: 40px;
    width: 100%;
    background: url('../images/burger.png') no-repeat 97% 80%;
    cursor: pointer;
    border: none;
    outline: none;
    display: inline-block;
  }
  .banner__line1 {
    font-size: 22px;
    top: 30%;
    width: 525px;
  }
  .banner__line2 {
    font-size: 18px;
    top: 46%;
    width: 420px;
  }
  .banner__button {
    width: 140px;
    padding: 7px 0;
    border-bottom: 4px solid #3678a3;
    border-radius: 3px;
    font-size: 0.93em;
    top: 65%;
  }
}
@media screen and (max-width: 600px) {
  .header__wrapper {
    padding-top: 10px;
  }
  .banner__img {
    min-height: 170px;
  }
  .banner__line1 {
    font-size: 22px;
    top: 20px;
    width: 265px;
    text-align: center;
    line-height: 1.5em;
  }
  .banner__line2 {
    display: none;
  }
  .banner__button {
    top: 105px;
  }
  .banner__mob-line-1 {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .circle {
    width: 80%;
    padding: 0 10%;
  }
  .work {
    width: 80%;
    margin: 30px 10%;
  }
  .quote {
    font-size: 1em;
  }
}
