body {
    margin: 0;
}
ul{
    width: 500px;
    list-style-type: none;
    padding: 0;
}

ul li {
    width: 100%;
    padding-left: 20px;
    background-color: #eaeaea;
}
ul li a {
    text-decoration: none;
    color: #b0b0b0;
    font-size: 2.7em;
}
ul li:hover {
    background-color: #5e9f5e;
}
ul li:hover a {
    color: white;
}
