.wrapper {
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 

	
  flex-flow:row wrap;

  }

.wrapper > * {
	padding: 10px;
	flex:1 100%;

}

.header, .footer {
	background: grey;
	margin: 0 20px 20px 20px;
}

.main {
	display: flex;
	flex-wrap: no-wrap;

}

.aside1 {
	background: deepskyblue;
	width: 920px;
	height: 260px;
	margin: 10px; 
}

.aside2 {
	background: deepskyblue;
	width: 320px;
	margin: 10px;
}

.gallery {
	display: flex;
	flex-direction: row;
}

.aside3, .aside4, .aside5 {
	background: salmon;
	width: 422px;
	height: 180px;
	margin: 10px;
}




@media all and (min-width:800px) {
	.aside {flex:1 auto;}
}


@media all and (min-width:800px) {
	.aside1 {flex:3 0px;}
	.aside2 {order:1;}
	.aside3 {order:2;}
	.aside4 {order:3;}
	.aside5 {order:4;}
	.footer {order:5;}
}