.body {
	background-color: #354245;
}

.button {
	height: 200px;
	width: 100px;
	background: linear-gradient (to bottom, #fff, #000);
	box-shadow: 0 0 5px 3px rgba (0,0,0,0.5);
	border-radius: 20px;
	border: 2px solid brown;
	color: skyblue;
	padding: 50px;
	background: #423521;
}

button:hover {
	background: green;
	color: orange;
}


.now {
	position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; 
}

.right .left .top .bottom p {
	visibility: hidden;
	width: 100px;
	background-color: green;
	color: #fff;
	text-align: center;
	padding: 10px 0px;
	border-radius: 6px;
	}

